<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.example.prestigeworldwide">

  <uses-permission android:name="android.permission.INTERNET"></uses-permission>

  <application
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/AppTheme">

    <!-- Music Room is child of Create Room -->
    <activity android:name=".MusicRoomActivity"
      android:label="@string/music_room_name"
      android:parentActivityName=".CreateRoomActivity">
      <meta-data
        android:name="android.support.PARENT_ACTIVITY"
        android:value=".CreateRoomActivity" />
    </activity>

    <!-- Room List is child of Main Activity -->
    <activity
      android:name=".RoomListActivity"
      android:label="@string/room_list_name"
      android:parentActivityName=".MainActivity">
      <meta-data
        android:name="android.support.PARENT_ACTIVITY"
        android:value=".MainActivity" />
    </activity>

    <!-- Create Room is child of Room List -->
    <activity android:name=".CreateRoomActivity"
      android:label="@string/create_room_name"
      android:parentActivityName=".RoomListActivity">
      <meta-data
        android:name="android.support.PARENT_ACTIVITY"
        android:value=".RoomListActivity" />
    </activity>

    <activity android:name=".MainActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
  </application>

</manifest>
